<!-- Getting products array from ts , for if condition for products is present in cart -->
<div class="row">
  <div class="col-75">
    <div class="container" style="margin-top: 50px">
<ng-container *ngIf="products.length != 0">
  <div class="col-25">
  <!-- <ng-container *ngIf=true> -->
    <div
    class="container"
    style="margin-top: 20px; background-color: white"
  >
    
      <h1 class="h3 mb-5 mt-3 ">Cart Items</h1>
      <div class="cart-product">
        <hr/>
        <table class="table table-responsive">
          <thead>
            <tr>
              <th>Sr.No</th>
              <th>Product Name</th>
              <th>Product Image</th>
              <th>Description</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <!-- Getting products array from ts , for lopp (Iteration) -->
            <tr *ngFor="let item of products; let i = index">
              <!--  index start with 0 that why used i+1  -->
              <td>{{ i + 1 }}</td>
              <td>{{ item.title }}</td>
              <td>
                <img style="width: 120px" src="{{ item.image }}" alt="" />
              </td>
              <td style="width: 25%">{{ item.description }}</td>
              <th style="width: 12%">{{ item.price }}</th>
              <td style="width: 12%">
                <button
                  class="btn"
                  (click)="updateQuantity(item, item.quantity + 1)"
                  style="background-color: #ffb74d; color: #fff"
                >
                  <span class="fas fa-plus"></span>
                </button>
                {{ item.quantity }}
                <button
                  class="btn"
                  (click)="updateQuantity(item, item.quantity - 1)"
                  style="background-color: #ffb74d; color: #fff"
                >
                  <span class="fas fa-minus"></span>
                </button>
              </td>

              <td style="width: 12%">
                {{ item.quantity * item?.price | number : "1.2-2" }}
              </td>
              <td>
                <button (click)="removeItem(item)" class="btn btn-danger">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </td>
            </tr>
            <tr>
              <td colspan="4"></td>
              <td>
                <button (click)="emptycart()" class="btn btn-danger">
                  Empty Cart
                </button>
              </td>
              <td>
                <button
                  routerLink="/products"
                  class="btn"
                  style="background-color: #ffb74d; color: #fff"
                >
                  Shop More
                </button>
              </td>
              <td>
                <button routerLink="/checkout" class="btn btn-success">
                  Checkout
                </button>
              </td>
              <td>
                <strong
                  >Total Amount :
                  {{ getTotalPrice() | number : "1.2-2" }}</strong
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    
  </div>
  </div>
</ng-container>

<!-- Getting products array from ts , for if condition for products is not present in cart -->
<ng-container *ngIf="products.length == 0">
  
  <div style="margin-top: 20px;" >
    <div class="card">
      <h5 class="card-title">My Cart</h5>
    </div>
    <div class="center">
      <img
        src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90"
        alt=""
      />
      <h4>Your cart is empty!</h4>
      <h6>Add item to it now</h6>
      <button
        routerLink="/products"
        class="btn"
        style="background-color: #ffb74d"
      >
        Shop Now
      </button>
    </div>
  </div>
</ng-container>
</div>
</div>
</div>