.form-control {
  border-radius: 10px;
  width: 400px;
  margin-left: 20px;
}


.dropdown-item:active,
.dropdown-item:focus {
  background-color: rgb(224, 161, 23) !important;
}

i{
  color: white; 
  margin-top: 1%;
  font-size: 30px;
}

strong{
  color: white; font-size: 25px
}