<div class="row">
  <div class="col-75">
    <div class="container" style="margin-top: 50px;  background-color: #f2f2f2;">
      <ng-container *ngIf="products.length != 0">
        <button (click)="toggleDragDrop()" class="btndragdrop">{{ buttonLabel }}</button>
        <div #dropListContainer class="example-container" cdkDropListGroup>
        <div *ngFor="let item of checkout_positions; let i = index" cdkDropList [cdkDropListData]="i"
        >
          <div cdkDrag [cdkDragData]="i" (cdkDragEntered)="dragEntered($event)" [cdkDragDisabled]="dragAndDropEnabled"   [style.cursor]="isDragActive ? 'move' : 'default'">
        <div class="col-25" >
          <ng-container [ngSwitch]="item.name" >
          <!-- Buy Items -->
          <div *ngSwitchCase="'Buy_Items'">
          <div
            class="container"
        
          >
            <h1 class="h3 mb-5 mt-3">Buy Items</h1>
            <div class="cart-product">
              <hr />
              <table class="table table-responsive">
                <thead>
                  <tr>
                    <th>Product Name</th>
                    <th>Product Image</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- Getting products array from ts , for lopp (Iteration) -->
                  <tr *ngFor="let item of products; let i = index">
                    <!--  index start with 0 that why used i+1  -->

                    <td>{{ item.title }}</td>
                    <td>
                      <img style="width: 50px" src="{{ item.image }}" alt="" />
                    </td>

                    <th style="width: 12%">{{ item.price }}</th>
                    <td style="width: 12%">
                      <button
                        (click)="updateQuantity(item, item.quantity + 1)"
                        class="btns"
                      >
                        <span class="fas fa-plus"></span>
                      </button>
                      {{ item.quantity }}
                      <button
                        (click)="updateQuantity(item, item.quantity - 1)"
                        class="btns"
                      >
                        <span class="fas fa-minus"></span>
                      </button>
                    </td>
                    <td style="width: 12%">
                      {{ item.quantity * item?.price | number : "1.2-2" }}
                    </td>
                    <td>
                      <button
                        (click)="removeItem(item)"
                        class="btnd btn-danger"
                        style="background-color: #DC3545;"
                      >
                        <i class="fas fa-trash-alt"></i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="4"></td>

                    <td>
                      <strong
                        >Total Amount :
                        {{ getTotalPrice() | number : "1.2-2" }}</strong
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
          <!-- Payament Options -->
          <div *ngSwitchCase="'Payment_Options'">
          <div
          class="container"
 
        >
          <h1 class="h3 mb-5 mt-3">Payament Options </h1>
          <div class="cart-product">
            <hr />
            <div class="row">
              <!-- Left -->
              <div class="col-lg-9">
              
                <ngx-paypal [config]="payPalConfig"></ngx-paypal>
              </div>
          
              <!-- Right -->
              <div class="col-lg-3">
                <div class="card position-sticky top-0 bg-light ">
                  <div class="p-3 bg-white">
                    <h6 class="card-title mb-3">Order Summary</h6>
                    <div class="d-flex justify-content-between mb-1 small">
                      <span>Subtotal</span> <span>${{grandTotal  | number : "1.2-2"}}</span>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between mb-4 small">
                      <span>TOTAL</span> <strong class="text-dark">${{grandTotal  | number : "1.2-2"}}</strong>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
          <!--Billing Address-->
          <div *ngSwitchCase="'Billing_Address'">
          <div
            class="container"
         
          >
            <h1 class="h3 mb-5 mt-3">Billing Address </h1>
            <div class="cart-product">
              <hr />
              <form #userForm="ngForm" (ngSubmit)="onSubmit()">
                <div class="row">
                 
                  <div class="col-50">
                    <label for="username"
                      ><i class="fa fa-user"></i> Full Name</label
                    >
                    <input
                      type="text"
                      id="username"
                      [(ngModel)]="user.username"
                      placeholder="Pranav R Yadav"
                      [ngModelOptions]="{standalone: true}"
                      required
                    />
                    <div class="row">
                      <div class="col-50">
                        <label for="email"
                          ><i class="fa fa-envelope"></i> Email</label
                        >
                        <input
                          type="text"
                          id="email"
                          name="email"
                          [(ngModel)]="user.email"
                          placeholder="pranav@example.com"
                          required
                        />
                      </div>
                      <div class="col-50">
                        <label for="email"
                          ><i class="fa fa-phone"></i> Mobile Number</label
                        >
                        <input
                          type="text"
                          id="mobile"
                          name="mobile"
                          [(ngModel)]="user.mobile"
                          placeholder="+91-"
                          required
                        />
                      </div>
                    </div>

                    <label for="adr"
                      ><i class="fa fa-address-card-o"></i> Address</label
                    >
                    <input
                      type="text"
                      id="adr"
                      name="address"
                      [(ngModel)]="user.address"
                      placeholder="5/2 Shivaji Nagar"
                      required
                    />
                    

                    <div class="row">
                      <div class="col-30">
                        <label for="city"
                        ><i class="fa fa-institution"></i> City</label
                      >
                      <input
                        type="text"
                        id="city"
                        name="city"
                        [(ngModel)]="user.city"
                        placeholder="Mumbai"
                        required
                      />
                      </div>
                      <div class="col-30">
                        <label for="state">State</label>
                        <input
                          type="text"
                          id="state"
                          name="state"
                          [(ngModel)]="user.state"
                          placeholder="Maharastra"
                          required
                        />
                      </div>
                      <div class="col-30">
                        <label for="zip">Zip</label>
                        <input
                          type="text"
                          id="zip"
                          name="zip"
                          [(ngModel)]="user.zip"
                          placeholder="10001"
                          required
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <label>
                  <input type="checkbox" checked="checked" name="sameadr" />
                  Shipping address same as billing
                </label>

                <button
                  type="submit"
                  [disabled]="!userForm.valid"
                  class="btn"
                  style="background-color: #ffb74d"
                >
                  Order Now
                </button>
              </form>
            </div>
          </div>
        </div>
          </ng-container>
            </div>
          </div>
        </div>
        </div>
        
      </ng-container>

      <ng-container *ngIf="products.length == 0">
      
          <div class="card">
            <h5 class="card-title">My Cart</h5>
          </div>
          <div class="center">
            <img
              src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90"
              alt=""
            />
            <h4>Your cart is empty!</h4>
            <h6>Add item to it now</h6>
            <button
              routerLink="/products"
              class="btn"
             
            >
              Shop Now
            </button>
          </div>
        
      </ng-container>
    </div>
  </div>
</div>
