<!-- <div class="container">
  <input type="checkbox" id="check" />
  <div class="login form">
    <header>Login</header>

    <form>
      <input
        type="text"
        name="useName"
        placeholder="User Name"
        [(ngModel)]="loginObj.userName"
      />
      <input
        type="password"
        name="paword"
        placeholder="Password"
        [(ngModel)]="loginObj.password"
      />
      <a href="#">Forgot password?</a>
      <input type="button" class="button" (click)="onLogin()" value="Login" />
    </form>
    <div class="signup">
      <span class="signup"
        >Don't have an account? <a routerLink="/signup">Signup</a></span
      >
    </div>
  </div>
</div> -->
<div class="container">
  <input type="checkbox" id="check" />
  <div class="login form">
    <header>{{ isLogin ? 'Login' : 'Sign Up' }}</header>

    <div *ngIf="isLoading" class="text-center mt-4" >
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form #authForm="ngForm" (ngSubmit)="onFormSubmit(authForm)" *ngIf="!isLoading">
      
      <input
      type="text"
      placeholder="Email"
      ngModel
      name="email" 
      required
      email
      #email="ngModel"
    />
    <ng-container *ngIf="email.touched && !email.valid">
      <div class="error">
        <ng-container *ngIf="email.errors && email.errors['required']">Email is Required</ng-container>
        <ng-container *ngIf="email.errors && email.errors['email']">Invalid Email</ng-container>
      </div>
    </ng-container>
    
      
      <input
      type="password"
      placeholder="Password"
      ngModel
      name="password"
      required
      password
      minlength="6"
      #password="ngModel"
    />
    <ng-container  *ngIf="password.touched && !password.valid">
      <div class="error">
        <ng-container>{{getPasswordError(password)}}</ng-container>
      </div>
    </ng-container>
    
      
    <div class="error  mt-4" *ngIf="error">
      {{error}}
    </div>
  
      <div class="mt-4">
        <button type="submit" class="button" [disabled]="!authForm.valid">{{isLogin ? "Login " : "SignUp"}}</button>
        <button type="button" class="button" (click)="switchToSignUp()" >Switch to {{isLogin ? "SignUp " : "Login"}}</button>
      </div>
  
    </form>
   
  </div>
</div>
